# Node.js / npm
node_modules/
package-lock.json
npm-debug.log
*.log

# Entorno de desarrollo
.env
.DS_Store
.thumbs.db

# Preprocesadores
.sass-cache/
src/scss/

# Editors/IDEs
.vscode/
.idea/
*.swp

# Build outputs
dist/
build/


# Archivos temporales/sistema
*.tmp
*.bak
*.zip
*.tar
*.mp4
*.avi

# Excepciones específicas
Clase/