//Header
header {
  height: 8rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  }




//NavBar @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.navbar{
    @include flex-center;
    // h1{
    //  @include flex-center;
    //  margin: 0;
        .navbar__logo{
          @include flex-center;
          margin: 0;  
// 
.link__logo{
  @include flex-center;
}

.logoFull{
         height: auto;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    
      }

       .logo{
         width: 80%;
    max-width: 7rem;
    margin: 0px auto;
    padding: 0px;
    // display: block;
  
      }



        // }
    }
}