
$breakpoint: 768px;

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;

  


  

  position: relative;

  &__logo {
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
    &__toggle-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.2rem;
        cursor: pointer;
        width: auto;
        margin: 0px;

    }

 
  &__toggle {
    display: none;
    background: none;
    border: none;
    color: $primary-color;
    font-size: 1.8rem;
   
    cursor: pointer;
  }

     &__toggle-text {
        font-weight: 600;
        font-size: 1rem;
        display: none; // Oculto en desktop por defecto

        @media (max-width: 768px) {
            display: block; // Visible solo en móvil
           
        }
    }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
     padding: 0.5rem 1rem;

    li a {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: $hover-color;
      }
    }
  }

  @media (max-width: $breakpoint) {
    &__toggle {
      display: flex;
        flex-direction: row-reverse;
        align-items: center;
       width: fit-content;
      //  background-color: greenyellow;
       margin: 1%;
    }

    &__menu {
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: $white;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      gap: 0;
      padding: 0px;
      margin: 0px;

      &.open {
        max-height: 300px; // suficiente para todos los enlaces
      }

      li {
        text-align: center;
        padding: 1rem 0;
      }
    }
  }
}
