  .floating-bar{

    // Desktop: Texto visible al hover
    @media (min-width: 769px) {
      &__item:hover {
        width: auto;
        padding: 0 15px;
        span { display: inline-block; }
      }
    }
    
    // Móvil: Barra horizontal abajo
    @media (max-width: 768px) {
      flex-direction: row; // Cambia a horizontal

       position: fixed;
      // top: 0;
      bottom: 0;
      // left: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      // max-width: 200px;
      justify-content: center;
      padding: 10px 15px;
      border-radius: 0px; // Más ovalado
      
      &__item {
        width: 30px;
        height: 30px;
        
        img { width: 40px; height: 35px; }
      }
      // En el media query de móvil
      &__item.active {
        background: $primary-color;
        img { filter: brightness(0) invert(1); }
      }

      
    }
  }  

  // .navbar {

    @media (max-width: 768px) {

      .contenedor {
    
    // background-color: $secondary-color;
    font-size: 0.6em;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;// auto;
    grid-template-areas: 
      "header"
      // "nav"
      // "aside"
      "main"
      "main"
      "footer";
  }

      .logoFull{
        display:none;
      }
      header{
        // background-color: aqua;
        width: 100%;
        height: fit-content;
        padding: 0px;
        // border: 3px;
        // margin: 3px;

           display: flex;
      flex-direction: row;
      justify-content: space-around;

      position: fixed;
      top: 0;
      left: 0;
    
        .navbar{
          width: 100vw;
              display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 3px;
        // justify-content:end;
         background-color:$white ;


        }
      
      }
      footer{
        margin-bottom: 30px;
      }

      .seccionPerfil{
        flex-direction: row;
      }
     
  }
    @media (min-width: 768px) {
      .contenedor {
        // background-color: blueviolet;
          display: grid;
    grid-template-columns: 9fr;//3fr 3fr 3fr;
    grid-template-rows: auto auto auto;// auto auto;
    grid-template-areas: 
      "header"
      // "nav nav nav"
      "main "
      // "main main main"
      // "aside main main"
      // "aside main main"
      "footer ";
      }
      .logo{
        display:none;
      }

      

  }
// }