/*VARIABLES*/

$color-principal: #576782;
$fondo:rgb(177,190,177);

$text-color: #333;


//Colors
$primary-color:  #576782;
$secondary-color:  #A0A4AC; 
$hover-color:lighten($secondary-color, 10%);
$success-color: #6BAF7C; 
$error-color: #D26A6A; 
$white: #ffffff;
$black: #000000;


// Formulario WhatSsaP


// Colores
$whatsapp-primary: #25D366;
$whatsapp-secondary: #128C7E;
$bg-light: #f5f5f5;
$text-dark: #333;
$border-color: #ddd;

// Tipografía
$font-primary: 'Arial', sans-serif;

// Breakpoints
$breakpoint-mobile: 768px;


