/*VARIABLES*/

$color-principal: #576782;
$fondo:rgb(177,190,177);

$text-color: #333;


//Colors
$primary-color:  #576782;
$secondary-color:  #A0A4AC; 
$success-color: #6BAF7C; 
$error-color: #D26A6A; 
$white: #ffffff;
$black: #000000;



